##############################################################################################
# from [ https://github.com/github/gitignore/blob/master/Global/Windows.gitignore ]          #
##############################################################################################

# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk

##############################################################################################
# from [ https://github.com/github/gitignore/blob/master/Global/Linux.gitignore ]            #
##############################################################################################

*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*

##############################################################################################
# from [ https://github.com/github/gitignore/blob/master/Global/VisualStudioCode.gitignore ] #
##############################################################################################

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/c_cpp_properties.json
*.code-workspace

# Local History for Visual Studio Code
.history/

##############################################################################################

# inhibit VSCode rules for labsim dev distro specific shared workspace
!distro/*/labsim.code-workspace 

# Secret files :) #
github_username.txt
github_token.txt
gitlab_username.txt
gitlab_password.txt
